.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
    overflow: hidden;
}
.main-txt{
    position: absolute;
    color: rgba(0,0,0,0);
    display: flex;
    padding: 0px 250px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
strong{
    color: rgb(243, 207, 5);
}
.top-head{
    color: whitesmoke;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 20px 0;
    border: 0.0625rem solid;
    border-width: 0 0 0.0625rem 0;
    border-image-source: linear-gradient(90deg, rgba(229, 9, 20, 0), red, rgba(229, 9, 20, 0));
    border-image-slice: 1;
    letter-spacing: .9px;
   }
.main-head{
    display: flex;
    position: relative;
    top: -40px;
    font-size: 5.2rem;
    -webkit-background-clip: text;
    background-image: url('https://templates.iqonic.design/streamit/intro/assets/images/texure.webp');
}
.last-head{
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.6rem;
    position: relative;
    text-align: center;
    top:-100px;
}
#banner{
    top:-100px;
    width: 100%;
    height: 100vh;
}
.details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 250px;
    text-align: center;
    gap: 10px;
    color: white;
}
.details-head{
    font-size: 3.2rem;
}
.details-sec{
    position: relative;
    color: rgb(152, 149, 149);
    top: -15px;
    font-size: 1.3rem;
}
.details-last{
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    word-spacing: 5px;
}
#customer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #69b03b;
    font-size: 4.5rem;
    padding: 0px 10px;
}